body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.timeline-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #3498db;
}
.timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.timeline {
    position: relative;
    width: 40%; /* Adjust the width of the timeline container */
    max-width: 500px;
    margin-top: 40px;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #3498db;
    transform: translateX(-50%); /* Center the timeline line */
}

.timeline-item {
    position: relative;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text within the timeline item */
}

.pic-desc {
    display: flex;
}

.description {
    margin-left: 10px;
    flex: 1; /* Take remaining space */
    text-align: left; /* Align text to the left within the description div */
}

.timeline-item .content {
    margin-top: 10px;
}

.timeline-item h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.timeline-item p {
    font-size: 1em;
    color: #777;
}

.timeline-item .age {
    color: #3498db;
    font-weight: bold;
}

.timeline-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 250px;
    margin-bottom: 10px;
    cursor: pointer; /* Add cursor style */
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.timeline-item img.maximized {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2); /* Add initial scale for gradual effect */
    z-index: 1000;
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 10px;
    cursor: zoom-out;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

@media screen and (max-width: 767px) {
    .timeline {
        width: 80%; /* Adjust the width of the timeline container for smaller screens */
    }

    .timeline-item img {
        max-width: 100%;
        height: auto;
        max-height: none; /* Remove the max-height on smaller screens */
    }
}